/*global style*/
body {
  font-size: 20px;
  margin: 0em;
}

.logo p {
  font-family: "Righteous", cursive;
  letter-spacing: 0.3em;
  text-align: center;
  font-size: 1em;
}
.logo a {
  text-decoration: none;
  color: black;
}
.cart-button {
  position: absolute;
  right: 1em;
  top: 1em;
}

.cart-button a {
  color: black;
}

.navigation {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-left: 19em;
  padding-right: 19em;
  padding-bottom: 1em;
}
.navigation p {
  font-size: 0.6em;
}
.men,
.women,
.men-t,
.women-t {
  text-align: center;
  margin-bottom: 2em;
}
.men img,
.women img {
  object-fit: cover;
  height: 315px;
  width: 100%;
}
.men p,
.women p,
.men-t p,
.women-t p {
  font-size: 0.8em;
}
.shopnow {
  font-size: 0.7em;
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 0.7em;
  padding-left: 2em;
  padding-right: 2em;
}
.t img {
  object-fit: cover;
  height: 315px;
  width: 100%;
}

.t {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2 auto);
}

.t .men-t {
  grid-area: 1/1/2/2;
}
.t .women-t {
  grid-area: 1/2/2/3;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 500px){
  body{
    font-size: 10px;
  }
}
